django==4.0
psycopg2-binary
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
django-cors-headers==3.13.0
Pillow
drf-yasg
django-storages==1.11.1
boto3==1.18.36
django-rest-passwordreset==1.3.0
